{% extends 'base.html' %}
{% block title %}
Login | DebateMingle
{% endblock %}
{% block body %}
<h2 class="center-align name">DebateMingle</h1>
<div class="container white login-wrapper">
  <h5>Login or create account</h2>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button class="btn waves-effect waves-light" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
