{% extends 'base.html' %}
{% block title %}
Zany Match | Debate Mingle
{% endblock %}
{% block body %}
<div id="chat" class="hidden white">
  <div class="chat__header blue"><a id="resetchat" class="waves-effect waves-light btn-flat">New Chat</a><span class="username">Jimmy_Neutron</span></div>
  <ul class="chat__window">
    <li class="chat__line"><div class="mine bubble">Hey man, where are you?</div></li>
    <li class="chat__line"><div class="theirs bubble">I'm over here, listening to Huey Lewis and the News!</div></li>
  </ul>
  <div class="chat__footer">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="waiting" class="wrapper">
  <h2 class="center-align name">Zany Match</h1>
  <div class="valign-wrapper">
    <a id="zany" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">chat</i></a>
  </div>
</div>
{% endblock %}

