{% extends 'base.html' %}
{% block title %}
Zany Match | Debate Mingle
{% endblock %}
{% block body %}
<div id="chat" class="hidden white">
  <div class="chat__header blue"><a id="resetchat" class="waves-effect waves-light btn-flat">New Chat</a><span class="username">Jimmy_Neutron</span></div>
  <ul class="chat__window">
    <li class="chat__line"><div class="bubble">Hey man, where are you?</div></li>
    <li class="chat__line"><div class="theirs bubble">I'm over here, listening to Huey Lewis and the News! I'm over here, listening to Huey Lewis and the News! I'm over here, listening to Huey Lewis and the News! I'm over here, listening to Huey Lewis and the News!</div></li>
  </ul>
  <div class="chat__footer">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="chat__field" type="text" data-length="120">
          <label for="chat__field">Write a message</label>
        </div>
        <button id="submitbtn" class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
<div id="waiting" class="wrapper">
  <h2 class="center-align name">Zany Match</h1>
  <div class="valign-wrapper">
    <a id="zany" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">chat</i></a>
  </div>
</div>
{% endblock %}

