{% extends 'base.html' %}
{% block title %}
Zany Match | Debate Mingle
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/serious.js') }}"></script>
<script src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
{% endblock %}
{% block body %}
<div id="chat" class="hidden white">
  <div class="chat__header blue">
    <a href="/" id="resetchat" class="waves-effect waves-light btn-flat">New Chat</a>
    <span class="username"></span>
    <div class="header-whoops">
      <p>Topic: <span class="header-topic">Topic</span></p>
    </div>
    <p class="stance">Your stance: <span class="header-emoji">Opinion</span></p>

  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content center-align">
      <h5 class="modal-header">You will be discussing:</h5>
      <h4 class="modal-topic">Topic</h4>
      <br>
      <h5 class="modal-text">Your opinion?</h5>
      <br>
      <div class="modal-emoji" style="font-size: 9em; line-height: 1em;"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  <ul class="chat__window">
  </ul>
  <div class="chat__footer">
    <form class="col s12">
      <div class="sendmessage">
        <div class="input-field">
          <input id="chat__field" type="text" data-length="120">
          <label for="chat__field">Write a message</label>
        </div>
        <button id="submitbtn" class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</div>
<div id="waiting" class="wrapper">
  <h2 class="center-align name">Serious Match</h1>
  <div class="valign-wrapper">
    <div id="swipy" class="card">
      <div class="card">
        <h5 class="card-title"></h5>
      </div>
    </div>
  </div>
    <a id="serious" class="btn-floating btn-large waves-effect waves-light black"><i class="material-icons">chat</i></a>
  <a href="/" class="corner-link white-text">Zany Mode</a>
</div>
{% endblock %}

